@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #################### html element styling ################### */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

/* ############### utility classes ################### */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading {
  font-size: 3.5rem;
}

.md-heading {
  font-size: 2.2rem;
}

.text-red {
  color: #e63946;
}

.text-light {
  color: #f4f4f4;
}

.text-black {
  color: #333333;
}

.text-gray {
  color: #555555;
}

.btn{
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-primary{
  background-color: #f4f4f4;
  border-radius: 10em;
}

.btn-primary:hover{
  background: #ddd;
}

.btn-secondary{
  border: 2px solid #e63946;
  border-radius: 1.5em;
  color: #e63946;
  background: #ffffff;
}

.btn-secondary:hover{
  background: #fcf3f2;
}

/* ####################### header styling ###################### */

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.navbar {
  padding: 1rem;
}

.navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}

.navbar a {
  padding-bottom: 0.3rem;
}

.navbar a:hover {
  border-bottom: 1px solid #fff;
}

.header .navbar .logo {
  float: left;
}

.header .navbar .nav-items {
  float: right;
  margin-top: 1rem;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

.header .navbar .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}

/* ##################### header content styling ########################## */

.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.header .header-content h1{
  text-transform: uppercase;
  font-weight: 700;
}

.header .header-content p{
  text-transform: uppercase;
}

/* ####################### showcase section styling ######################## */

.showcase{
  background: #dddddd;
  padding: 10rem 0;
}

.row{
  height: 350px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.315);
}

.row-1{
  margin-bottom: 10rem;
  display: flex;
}

.row-2{
  display: flex;
}

.row-1 .img-box, .row-2 .text-box{
  float: left;
  width: 50%;
}

.row-2 .img-box, .row-1 .text-box{
  float: left;
  width: 50%;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}

.row .img-box{
  height: 100%;
}

.row .text-box{
  padding: 3rem;
}

.row .img-box img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}