@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #################### html element styling ################### */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

/* ############### utility classes ################### */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading {
  font-size: 3.5rem;
}

.md-heading {
  font-size: 2.2rem;
}

.text-red {
  color: #e63946;
}

.text-light {
  color: #f4f4f4;
}

.text-black {
  color: #333333;
}

.text-gray {
  color: #555555;
}

.btn{
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-primary{
  background-color: #f4f4f4;
  border-radius: 10em;
}

.btn-primary:hover{
  background: #ddd;
}

.btn-secondary{
  border: 2px solid #e63946;
  border-radius: 1.5em;
  color: #e63946;
  background: #ffffff;
}

.btn-secondary:hover{
  background: #fcf3f2;
}

.bg-dark{
  background: #263238;
}

/* ####################### header styling ###################### */

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.navbar {
  padding: 1rem;
}

.navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}

.navbar a {
  padding-bottom: 0.3rem;
}

.navbar a:hover {
  border-bottom: 1px solid #fff;
}

.navbar .logo {
  float: left;
}

.navbar .nav-items {
  float: right;
  margin-top: 1rem;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

.navbar .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}

/* ##################### header content styling ########################## */

.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.header .header-content h1{
  text-transform: uppercase;
  font-weight: 700;
}

.header .header-content p{
  text-transform: uppercase;
}

/* ####################### showcase section styling ######################## */

.showcase{
  background: #dddddd;
  padding: 10rem 0;
}

.row{
  height: 350px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.315);
}

.row-1{
  margin-bottom: 10rem;
  display: flex;
}

.row-2{
  display: flex;
}

.row-1 .img-box, .row-2 .text-box{
  float: left;
  width: 50%;
}

.row-2 .img-box, .row-1 .text-box{
  float: left;
  width: 50%;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}

.row .img-box{
  height: 100%;
}

.row .text-box{
  padding: 3rem;
}

.row .img-box img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ##################### feature section styling ############################ */

.feature{
  padding: 10rem 0;
}

.box-wrapper{
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.37);
}

.box-wrapper::after{
  content: "";
  display: block;
  clear: both;
}

.box{
  width: 33.33333%;
  float: left;
  padding: 2rem;
  text-align: center;
}

.box-1, .box-3{
  background-color: #263238;
  color: #ffffff;
}

.box-2{
  background: linear-gradient(25deg, #d64c7f, #ee4658 50%);
  color: #fff;
}

/* ###################### footer styling ####################### */

.footer{
  background: #263238;
  color: #f4f4f4;
  padding: 2rem;
  text-align: center;
}

.footer .social-media-links i{
  margin: 2rem;
}

/* ######################## about page styling ############################ */

.about{
  padding: 5rem 0;
}

.about-heading::after{
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}

.about-wrapper{
  text-align: center;
  margin-top: 2rem;
}

.about-wrapper .left{
  float: left;
  width: 50%;
}

.about-wrapper .right{
  float: right;
  width: 50%;
}

.about-wrapper::after{
  content: "";
  display: block;
  clear: both;
}

.about-wrapper li::before{
  content: "\2713";
  color: #e63946;
  font-weight: bold;
  padding-right: 1rem;
}

.counts{
  margin-top: 3rem;
}

.count-item{
  float: left;
  width: 25%;
  text-align: center;
}

.counts::after{
  content: "";
  display: block;
  clear: both;
}

.count-item span{
  font-size: 3rem;
  font-weight: 700;
  color: #e63946;
}

.count-item p{
  font-weight: 700;
  color: #555555;
  font-size: 1.8rem;
}

.cta-banner{
  background: linear-gradient(25deg, #d64c7f, #ee4658 50%);
  color: #f4f4f4;
  padding: 1rem;
  box-shadow: 5px 5px 10px #00000057;
  margin-top: 3rem;
}

.cta-banner-left{
  float: left;
  width: 60%;
}

.cta-banner-right{
  float: right;
  width: 40%;
  text-align: right;
}

.cta-banner::after{
  content: "";
  display: block;
  clear: both;
}

.cta-line{
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.btn-cta{
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  border: 4px solid white;
  padding: 0.3em 2.5em;
  letter-spacing: 0.5rem;
  color: #f4f4f4;
}

/* ####################### contact page styling ########################## */

.contact-form{
  padding: 5rem 0;
  background: #f7f7f7;
}

.form-wrapper .company-details{
  height: 760px;
  width: 49%;
  float: left;
  background: #ffffff;
}

.form-wrapper .form{
  height: 760px;
  padding: 1.5rem;
  width: 49%;
  float: right;
  background: #ffffff;
  font-size: 1.6rem;
}

.form-wrapper .company-details i{
  display: inline-block;
  margin-right: 1rem;
}

.form-wrapper .company-details .address-group a{
  display: block;
}

.form-wrapper .company-details h2{
  display: inline-block;
  text-transform: uppercase;
}

.form-wrapper::after{
  content: "";
  display: block;
  clear: both;
}

.form-wrapper .address-group{
  margin: 3rem;
}

.form-wrapper img{
  max-width: 90%;
  min-height: 30rem;
  object-fit: cover;
  object-position: right;
}

.form h1::after{
  content: "";
  display: block;
  border: 3px solid #e63946;
  width: 100%;
}

.form-wrapper label{
  display: block;
}

.form-wrapper .form input{
  padding: 0.5rem;
  width: 100%;
}

.form-wrapper .form .form-group{
  margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
  content: "*";
  color: #e63946;
}

.form-wrapper .form textarea{
  width: 100%;
  height: 300px;
  padding: 1rem;
}

.form-btn{
  display: block;
  margin: 0 auto;
  padding: 0.5em 3em;
  font-size: 1.8rem;
  background: #e63946;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}